<!-- start custom article top snippet -->
<script>
  (function() {
    var serverURL = '{{ site.comments.waline.server_url }}';
    var path = window.location.pathname;
    fetch(serverURL + '/api/article', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ path: path })
    })
      .then(function(r) { return r.json(); })
      .then(function(res) {
        var el = document.querySelector('.js-pageview');
        if (el && res.data && res.data[0]) el.textContent = res.data[0].time;
      });
  })();
</script>
<!-- end custom article top snippet -->
